<!--
@Author: Justin Hershberger
@Date:   02-04-2017
@Filename: data.html
@Last modified by:   Justin Hershberger
@Last modified time: 10-04-2017
-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="panel panel-primary">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col col-md-6">
            <h2> {{ post.date }} </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            * The energy calculation assumes a panel with:
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Area: 1.6354806 m^2
          </div>
          <div class="col-md-4">
            Production: 250 Wp
          </div>
          <div class="col-md-4">
            Loss: 0.75
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h4> Source </h4>
          </div>
          <div class="col-md-4">
            <h4> Solar Radiation </h4>
          </div>
          <div class="col-md-4">
            <h4> Energy Output </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            {{ post.source }}
          </div>
          <div class="col-md-4">
            {{ post.solar_radiation }} mJ/m^2
          </div>
          <div class="col-md-4">
            {{ energy }} kWh
          </div>
        </div>
        <div class = "row">
          <div class="col-md-6">
            <h2> Hourly Data in Mj </h2>
          </div>
          <div class="col-md-6">
            <h2> Hourly Data in Watts</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ post.date_hr_mj |safe }}
          </div>
          <div class="col-md-6">
            {{ post.date_hr_watt |safe }}
          </div>
        </div>
        <!-- {% for pst in posts %}
        {% endfor %} -->
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
